<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Sidebar</h3>
  </div>
  <ul class="list-unstyled components">
    <p>My App</p>
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a [routerLink]='["/"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-home'></span> Home
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/counter"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-education'></span> Counter
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Fetch data
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/funnel"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Funnel
      </a>
    </li>
  </ul>
</nav>
